.link-list {
  display: flex;
  justify-content: space-around; /* Spread out items evenly with space around */
  list-style: none;
  padding: 0;
  margin-top: 100px; /* Add margin to space out from the calendar component */
}

.link-list li {
  margin: 0;
}

.link-logo {
  width: 80px; /* Adjust width as needed */
  height: 80px; /* Adjust height as needed */
}
